
BancoDeDados/Cursos/
BancoDeDados/DataBases/
BancoDeDados/Engenharia-de-Dados/
BancoDeDados/ExercisesDoneByMePython/
BancoDeDados/GoLang/
BancoDeDados/Projects/
BancoDeDados/Projeto-EDAA/
BancoDeDados/Teoria-da-Computacao-e-Compiladores/
ExerciciosProgramacaoSolucoes/ProfDaniel/010ValorCarro/
ExerciciosProgramacaoSolucoes/ProfDaniel/Projects/
ExerciciosProgramacaoSolucoes/ProfDaniel/synapses/
